In [5]:
import pandas as pd

df = pd.read_excel("data/dados_cerveja.xlsx")
df.head()

   id  temperatura  copo espuma     cor     classe
0   1           -5   mud    não  escura  weissbier
1   2           -5   mud    sim  escura  weissbier
2   3           -1  pint    não   clara  weissbier
3   4           -1  pint    sim   clara  weissbier
4   5           -5  pint    não  escura   pale-ale